/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2015, 1:07:40 PM
    Author     : Mark
*/

#info-box {
    background-color: #eeeeee;
    border: 1px solid black;
    bottom: 125px;
    height: 20px;
    padding: 10px;
    float:left;

}

#nav {
    line-height:30px;
    border: 1px solid black;
    background-color:#eeeeee;
    height:80%;
    width:20%;
    float:left;
    padding:10px; 
}

#about {
    width:50%;
    height:80%;
    float:left;
    padding:10px;
    background-color: blue;
    border-width: 2px;
    font-size: 14pt;
    font-weight: bold;
    color:white;
}
#message {
    width:20%;
    height:80%;
    float:left;
    padding:10px;
    background-color: lawngreen;
    border-width: 2px;
    font-size: 14pt;
    font-weight: bold;
    color:red;   
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
    height:45%;
}

#panel {
    position: absolute;
    top: 5px;
    margin-left: 18px;
    z-index: 5;
    background-color: red;
    color: white;
    padding: 5px;
    border: 1px solid #999;
}

button, button a{position:relative;}
button a{top:0;left:0;bottom:0;right:0;}
/* unvisited link */
a:link {
    color: #FF0000;
}
/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color:#0000FF;
}